
html, body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin: 0;
    padding: 0;
  }
#face{
    width:200px;
    height: auto;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px; 
}
h1{
    float: left;
    background: #4aaaa5; 
}

a {
    text-decoration: none
}

#navmenu {
    list-style-type: none;
    float: right;
    text-decoration: none;
    color: #777777;
    font-weight: bold;
}

#navlinks {
    display: inline;
    margin-left: 5px;   
}

#wrapper{
    width: 960px;
    margin: 0 auto; 
}

#main{
    width: 960px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
footer {
    float: none;
    clear: both;
    position: absolute;
    margin-bottom: 0;
    height: 50px;
    width: 100%;
    flex-shrink: 0;
    text-align: center;
    color: white;
    font-size: small; 
    border-top: 15px solid #4aaaa5;
    background-color: #666;
    padding: 10px 0;
  }

  

  
  